@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  padding: 3em 2em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  line-height: 1;
  background-image: url('https://i.imgur.com/9qLGJg9.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100% !important;
  background-color: black;
  background-position: center;
}

.logo {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-top: 15px !important;
  display: block;
  margin: 0 auto;
}

.pen {
  max-width: 635px;
  width: 100%;
  margin: 50px auto 0;
  opacity: 0;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-animation: 1s appear 1 forwards;
  -moz-animation: 1s appear 1 forwards;
  -o-animation: 1s appear 1 forwards;
  animation: 1s appear 1 forwards;
}

.stage {
  max-width: 635px;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element {
  background: green;
  width: 202px;
  -webkit-transform-origin: 50% 50%;
  height: inherit;
  margin: 0 7px 0 0;
  display: inline-block;
  border-radius: 15px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.element.active {
  width: 282px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.element.inactive {
  width: 162px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.4;
}

.element.compact {
  background: url('https://i.imgur.com/gETYqdy.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Luxury {
  background: url('https://i.imgur.com/E25eBO5.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Miscellaneous {
  background: url('https://i.imgur.com/Eq0Sz13.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.EV {
  background: url('https://i.imgur.com/gG3j9H8.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Muscle {
  background: url('https://i.imgur.com/rJ0LVu6.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Offroad {
  background: url('https://i.imgur.com/tAZkKV7.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Rally {
  background: url('https://i.imgur.com/jvEh1mo.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.SUV {
  background: url('https://i.imgur.com/pZyv2wp.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Sedan {
  background: url('https://i.imgur.com/X9YfgZ0.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Sports {
  background: url('https://i.imgur.com/kCNdwmS.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Super {
  background: url('https://i.imgur.com/s94iKjy.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Truck {
  background: url('https://i.imgur.com/c9OP6qN.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.boats {
  background: url('https://i.imgur.com/oOBzt3A.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Gov {
  background: url('https://i.imgur.com/2W9PJ0m.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.soon {
  background: url('https://i.imgur.com/SGsVowU.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.police {
  background: url('https://i.imgur.com/dBBdQYH.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.ss {
  background: url('https://i.imgur.com/jg7eKau.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.ems {
  background: url('https://i.imgur.com/9v49VZg.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.security {
  background: url('https://i.imgur.com/yvW9FMn.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.fd {
  background: url('https://i.imgur.com/0MqOGk1.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.Mechanic {
  background: url('https://i.imgur.com/OYplygz.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.garbageman {
  background: url('https://i.imgur.com/Z3XHJRQ.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.delivery {
  background: url('https://i.imgur.com/LfRpIvC.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.bitedriver {
  background: url('https://i.imgur.com/QrcLO5Y.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.mpd {
  background: url('https://i.imgur.com/XXi9kRw.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.pine {
  background: url('https://i.imgur.com/l7BlfPg.png') 50% 0 no-repeat;
  background-size: cover;
}

.element.corrections {
  background: url('https://i.imgur.com/fRGxysE.png') 50% 0 no-repeat;
  background-size: cover;
}

.element:last-of-type {
  margin: 0;
}

@media all and (min-width: 900px) {
  .pen {
    max-width: 890px;
  }

  .element {
    width: 286px;
  }

  .element.inactive {
    width: 246px;
  }

  .element.active {
    width: 366px;
  }

  .stage {
    max-width: 890px;
    height: 510px;
  }
}

@media all and (max-width: 660px) {
  .pen {
    max-width: 335px;
  }

  .element {
    width: 101px;
  }

  .element.inactive {
    width: 61px;
  }

  .element.active {
    width: 181px;
  }

  .stage {
    max-width: 335px;
  }
}

@-webkit-keyframes appear {
  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes appear {
  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  15% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

a {
  display: block;
}

.row {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.well {
  background-color: #f5f5f50a;
  border-color: #f5f5f5;
  outline: 0;
  width: 97%;
  margin-left: 16px;
  border-radius: 10px;
  padding-bottom: 0;
  padding-top: 0;
}

h5 {
  font-family: monospace;
  font-size: 25px;
  color: white;
}

.form-control {
  background-color: #fff0;
  color: #FFFFFF;
}

.input-group-addon {
  color: #FFFFFF;
  background-color: #eeb0;
}

.form-control:focus {
  border-color: #f5f5f5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
}

.linkw:hover {
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
}

.badge {
  background-color: #707c7c00;
  border: 1px solid;
}

.welltr:hover {
  border-color: #f5f5f5;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(255 255 255 / 60%);
}

.col-md-8 {
  margin-top: 20px;
}

.button {
  position: relative;
  height: 55px;
  width: 180px;
  background: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
  border: 1px solid;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 139px 17px rgba(255, 255, 255, 0.45);
  -moz-box-shadow: 0px 0px 139px 17px rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 139px 17px rgba(255, 255, 255, 0.45);
}